* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 250px;
    height: 100vh;
    background-color: #f2f2f2;
}