* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 250px;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    width: 100%;
    max-width: 1440px;
    text-align: center;
    padding: 0 25px;
    margin: 0 auto;
}

.title {
    font-size: 100px;
}